$themes: (
  default: (
    primary-color: #409eff,
    main-background-color: #f0f2f5,
    content-background-color: #fff,
    content-shadow-color: #eeeeee,
    text-color: #2c3e50,
    echarts-title-color: #333,
    login-content-color: #fff,
    host-link-content-color: #fff,
    scrollbar-thumb-bg-color: #e8e8e8,
    modal-scrollbar-track-bg-color: #f1f1f1,
    modal-scrollbar-thumb-bg-color: #ccc,
    modal-scrollbar-corner-bg-color: #dcdcdc,
    gray-text-color: #666,
    vice-color: #6d6d6d,
    stripe-table-bg-color: #FBF7F7,
    custom-table-border-color: #ebeef5,
    table-hover-bg-color: #f5f7fa,
  ),
  deepBlue: (
    primary-color: #269885,
    main-background-color: #1d3e5f,
    content-background-color: #152b42,
    content-shadow-color: #152b42,
    text-color: #b3b3b3,
    login-content-color: #1d3e5f,
    host-link-content-color: #152b42,
    scrollbar-thumb-bg-color: #394d61,
    scrollbar-track-bg-color: #152B42,
    modal-scrollbar-track-bg-color: #646769,
    modal-scrollbar-thumb-bg-color: #35354d,
    modal-scrollbar-corner-bg-color: #4b5257,
    gray-text-color: #ccc,
    vice-color: #989898,
    stripe-table-bg-color: #182F48,
    custom-table-border-color: #1d3e5f,
    table-hover-bg-color: #293859,
  ),
  yellow: (
    primary-color: #ea820a,
    main-background-color: #F6ECD1,
    content-background-color: #FFF9E6,
    content-shadow-color: #FFF9E6,
    text-color: #767676,
    login-content-color: #F6ECD1,
    host-link-content-color: #fff9e6,
    scrollbar-thumb-bg-color: #bb7c34,
    scrollbar-track-bg-color: #F6ECD1,
    modal-scrollbar-track-bg-color: #646769,
    modal-scrollbar-thumb-bg-color: #35354d,
    modal-scrollbar-corner-bg-color: #4b5257,
    gray-text-color: #767676,
    vice-color: #989898,
    stripe-table-bg-color: #F9F6E9,
    custom-table-border-color: #ccc,
    table-hover-bg-color: #f4e2b0,
  )
)